* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  color: #22f8ff; /* Cor do texto mais suave */
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 70px;
  text-align: center;
  border-radius: 8px; 
  border: #006d77 1px solid; /* Azul escuro profissional */
  max-height: 800px;
  background-color: #1a2a2f; /* Fundo escuro e elegante */
}

h1 {
  border-bottom: 2px solid #1f77b4; /* Azul brilhante */
  padding: 3rem 1rem; 
  font-size: 2.5em; 
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.input,
#file-upload {
  flex-grow: 1;
  padding: 8px;
  font-size: 1rem;
  margin-right: 8px;
  background-color: #2f3e46; /* Cinza escuro com toque minimalista */
  border: 1px solid #003d47; /* Azul muito escuro */
  border-radius: 4px;
}

.input::placeholder,
.custom-file-upload {
  color: #aaa; /* Cor mais clara para placeholder */
}

.custom-file-upload,
.btn-add,
.btn-edit,
.btn-delete,
.task-content button  {
  padding: 8px 12px;
  font-size: 1rem;
  color: rgb(86, 255, 227);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.custom-file-upload,
.btn-add,
.task-content button  {
  background-color: #006d77; /* Azul profissional */
}

.btn-edit {
  background-color: #004e58; /* Azul escuro */
}

.btn-delete {
  background-color: #004e58; /* Vermelho suave para delete */
}

.custom-file-upload:hover,
.btn-add:hover {
  background-color: #00a0bd; /* Azul vibrante */
}

.btn-edit:hover {
  background-color: #009cbe; /* Azul claro */
}

.btn-delete:hover {
  background-color: #009cbe; /* Vermelho vibrante */
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #444;
  list-style-type: none;
  gap: 8px;
  margin-top: 10px;
}

.task-content {
  word-break: break-word; 
}

.edit-buttons {
  display: flex;
  gap: 1rem; 
  margin-left: 10px; 
}

.list img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 4px;
}

.input-edit-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 10px;
}

.input-edit {
  padding: 8px;
  font-size: 1rem;
  background-color: #2f3e46;
  border: 1px solid #444;
  border-radius: 4px;
  min-width: 0;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

@media (max-width: 500px) {
  h1 {
    font-size: 2em;
  }

  .input-container {
    flex-direction: column; 
  }

  .input,
  #file-upload {
    margin-right: 0;
    margin-bottom: 8px; 
  }
}

.audio-recorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.audio-button {
  background-color: #1f77b4; /* Azul claro */
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease;
}

.audio-button:hover {
  background-color: #00a0bd; /* Azul mais vibrante */
}

.audio-button.recording {
  background-color: #ff4d4f; /* Vermelho suave para gravação */
}

.audio-preview {
  margin-top: 10px;
}

.audio-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.delete-audio-button {
  background-color: #004e58; /* Azul escuro para excluir */
  color: rgb(63, 255, 229);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.delete-audio-button:hover {
  background-color: #00beb4; /* Azul claro */
}

.controls{
  gap: 1rem; 
  margin-left: 10px; 
  margin-top: 1rem;
}
